@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

:where(h1) {
    margin-block: 0.67em;
    font-size: 2em;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /*Dark Theme*/
    --color-primary-dark: #0f172a;
    --color-secondary-dark: #1e293b;
    --color-header-dark: #f1f5f9;
    --color-body-text-dark: #cbd5e1;
    --color-muted-text-dark: #94a3b8;
    --color-border-dark: #334155;

}


::view-transition-old(root) {
    animation-delay: 500ms;
}

::view-transition-new(root) {
    animation: circle-in 500ms;
}

@keyframes circle-in {
    from {
        clip-path: circle(0% at 80% 10%);
    }

    to {
        clip-path: circle(120% at 80% 10%);
    }
}